* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#header {
    height: 15rem;
    width: 100%;
    background-color: #BEF7FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 100%;
}

#questionItem {
    width: 100%;
    height: 20rem;
    text-align: center;
    font-size: 30px;
}

#answerContainer {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

}

.quizItem {
    padding: 40px;
    width: 100%;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
    text-align: center;
    height: 50%;
    background-color: #d6d8d8;
}

.quizItem:target {
    background-color: #929292;
}

.wrong {
    background-color: red;
}

.right {
    background-color: green;
}

#popUpRight,
#popUpWrong {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
}

#popUpRight {
    background-color: green;
}

#popUpWrong {
    background-color: red;
}

#nextButton {
    height: 40px;
    width: 60px;

}

#displayFinished {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #bef7ffe3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#restartButtonFinished {
    height: 40px;
    width: 60px;

}

#answersTable {
    font-size: 20px;
}